<p id="notice"><%= notice %></p>

<h1 style="width: 500px; height: 30px; text-align: center;">Sensors Groups</h1>

 <% if @sensors_groups.blank? %>
   <!-- Stringa che dice di inserire almeno un gruppo  -->
   <p style="text-align: center"> Devi inserire almeno un gruppo
   <%= link_to 'Aggiungi Gruppo di Sensori', new_sensors_group_path, class:"btn pure-button pure-button-primary"%>
   </p>
  <% else %>
    <table class="pure-table">
      <thead>
         <tr>
          <th>Nome gruppo</th>
          <th>Creatore gruppo</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @sensors_groups.each do |sensors_group| %>
          <tr>
            <td><%= sensors_group.nome %></td>
            <td><%= sensors_group.user.email %></td>
            <td><%= link_to 'Show', sensors_group, class: "pure-button pure-button-active"%></td>
            <td><%= link_to 'Edit', edit_sensors_group_path(sensors_group), class: "pure-button pure-button-active" %></td>
            <td><%= link_to 'Destroy', sensors_group, method: :delete, data: { confirm: 'Are you sure?' }, class: "pure-button pure-button-active"%> </td>
          </tr>
        <% end %>
        </tbody>
    </table>
  <%end %>

<br>
<div new>
  <p style="width: 200px; margin: 0 auto"><%= link_to 'Aggiungi Gruppo di Sensori', new_sensors_group_path, class:"btn pure-button pure-button-primary"%></p>
</div>
<style scoped>

        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }

        td{ text-align: center; }

        .main{
          width: 500px;
          height: 500px;
          margin: 0 auto;
        }

    </style>
