
<h1>Misurazioni </h1>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>MAC</th>
      <th>Valore</th>
      <th>Unità di misura</th>
      <th>Data</th>
      <th>ora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @misurations.each do |misuration| %>
      <tr>
        <td><%= misuration.mac %></td>
        <td><%= misuration.value %></td>
        <td><%= misuration.unit %></td>
        <td><%= misuration.created_at.strftime("%d-%m-%Y") %></td>
        <td><%= misuration.created_at.strftime("%T")%></td>
        <td><%= link_to 'Visualizza', misuration, class: "button-success pure-button" %></td>
        <td><%= link_to 'Modifica', edit_misuration_path(misuration), class: "button-warning pure-button" %></td>
        <td><%= link_to 'Elimina', misuration, method: :delete, data: { confirm: 'Sei sicuro?' } , class: "button-error pure-button"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Aggiungi Misurazione', new_misuration_path ,class:"pure-button pure-button-primary"%>
<style scoped>

        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }

    </style>