<%= form_with(model: sensor, local: true, class: "pure-form pure-form-aligned") do |form| %>
  <% if sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
        <% sensor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="pure-control-group">
      <%= form.label :mac %>
      <%= form.text_field :mac %>
    </div>

    <div class="pure-control-group">
      <%= form.label :url %>
      <%= form.text_field :url %>
    </div>

    <div class="pure-control-group">
      <%= form.label :tipo %>
      <%= form.text_field :tipo %>
    </div>

    <div class="pure-control-group">
      <%= form.label :latitudine %>
      <%= form.text_field :latitudine %>
    </div>

    <div class="pure-control-group">
      <%= form.label :longitudine %>
      <%= form.text_field :longitudine %>
    </div>

    <div class="pure-control-group">
      <%= form.label :unit_misura %>
      <%= form.text_field :unit_misura %>
    </div>


    <div class="pure-control-group">
      <%= form.label :public %>
      <%= form.check_box :public %>
    </div>

    <div class="pure-control-group">
      <%= form.label :downtime_to_alarm %>
      <%= form.time_select :downtime_to_alarm %>
    </div>

    <div class="pure-control-group">
      <%= form.label :last_firmware_update %>
      <%= form.date_select :last_firmware_update %>
    </div>

    <div class="actions">
      <%= form.submit :class => 'pure-button pure-button-primary'  %>
    </div>
<% end %>
