<%= form_with(model: @sensors, local: true) do |form| %>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
          

          </div>

          <div class="card-body">

            <h5 class="card-title", style="color: green"><%= @sensors.mac %></h5>

             <% if @sensors.image.attached?%>
              Ultimo aggiornamento firware: <%= @sensors.image.created_at.strftime("%Y-%m-%d %H:%M")%>
            <% else%>
              Ultimo aggiornamento firware: <%= @sensors.last_firmware_update%>
            <% end%>
            
            
        <div class="form-group row">
          <div class="col-8">
            <%= form.file_field :image,  class: "form-control shadow rounded"%>
              <div id="bottone" class="form-group row justify-content-center">
              <%= form.submit(@sensors.new_record? ?  "Crea sensore" : "Aggiorna firware",  class: "btn btn-outline-primary") %>
            </div>
        </div>

         
          <%= form.hidden_field :mac, class: "form-control shadow rounded"%>
        


        
          <%= form.hidden_field :url,  class: "form-control shadow rounded"%>
       

     
          <%= form.hidden_field :tipo,  class: "form-control shadow rounded"%>
        

      
          <%= form.hidden_field :latitudine,  class: "form-control shadow rounded"%>
        

      
          <%= form.hidden_field :longitudine,  class: "form-control shadow rounded"%>
        

      
          <%= form.hidden_field :unit_misura,  class: "form-control shadow rounded"%>
        

    
          <%= form.hidden_field :public,  class: "form-check-input"%>
      

 
          <%= form.hidden_field :downtime_to_alarm,  class: "form-control shadow rounded"%>
         

     
          <%= form.hidden_field :last_firmware_update,  class: "form-control shadow rounded"%>
         

         
                             
            
          
          </div>
        </div>
          </div>
          
        </div>
      </div>
    </div>
  
  <% end %>
</div>