<p id="notice"><%= notice %></p>

<p>
  <strong>Mac:</strong>
  <%= @sensor.mac %>
</p>

<p>
  <strong>Url:</strong>
  <%= @sensor.url %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @sensor.tipo %>
</p>

<p>
  <strong>Latitudine:</strong>
  <%= @sensor.latitudine %>
</p>

<p>
  <strong>Longitudine:</strong>
  <%= @sensor.longitudine %>
</p>

<p>
  <strong>Unit misura:</strong>
  <%= @sensor.unit_misura %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @sensor.user_id %>
</p>

<p>
  <strong>Public:</strong>
  <%= @sensor.public %>
</p>

<p>
  <strong>Downtime to alarm:</strong>
  <%= @sensor.downtime_to_alarm %>
</p>

<p>
  <strong>Last firmware update:</strong>
  <%= @sensor.last_firmware_update %>
</p>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>

