<%= form_with(model: @sensor, local: true) do |form| %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Mac:</strong>
  <%= @sensor.mac %>
</p>

<p>
  <strong>Url:</strong>
  <%= @sensor.url %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @sensor.tipo %>
</p>

<p>
  <strong>Latitudine:</strong>
  <%= @sensor.latitudine %>
</p>

<p>
  <strong>Longitudine:</strong>
  <%= @sensor.longitudine %>
</p>

<p>
  <strong>Unit misura:</strong>
  <%= @sensor.unit_misura %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @sensor.user_id %>
</p>

<p>
  <strong>Public:</strong>
  <%= @sensor.public %>
</p>

<p>
  <strong>Downtime to alarm:</strong>
  <%= @sensor.downtime_to_alarm %>
</p>

<p>
  <strong>Last firmware update:</strong>
  <%= @sensor.last_firmware_update %>
</p>

<div class="form-group row">
    <div class="col-8">
      <%= form.file_field :image,  class: "form-control shadow rounded"%>
        <div id="bottone" class="form-group row justify-content-center">
          <%= form.submit(@sensor.new_record? ?  "Crea sensore" : "Aggiorna firmware",  class: "btn btn-outline-primary") %>
        </div>
    </div>   



<%= link_to 'Modifica', edit_sensor_path(@sensor),  class: "pure-button"%> 
<%= link_to 'Back', sensors_path , class: "pure-button"%>


<%= form.hidden_field :mac, class: "form-control shadow rounded"%>
        

        
<%= form.hidden_field :url,  class: "form-control shadow rounded"%>
       

     
<%= form.hidden_field :tipo,  class: "form-control shadow rounded"%>
        

      
<%= form.hidden_field :latitudine,  class: "form-control shadow rounded"%>
        

      
<%= form.hidden_field :longitudine,  class: "form-control shadow rounded"%>
        

      
<%= form.hidden_field :unit_misura,  class: "form-control shadow rounded"%>
        

    
<%= form.hidden_field :public,  class: "form-check-input"%>
      

 
<%= form.hidden_field :downtime_to_alarm,  class: "form-control shadow rounded"%>
         

     
<%= form.hidden_field :last_firmware_update,  class: "form-control shadow rounded"%>
         

     
<%= form.hidden_field :user_id %>


</div>
<%end%>