<p id="notice"><%= notice %></p>

<p>
  <strong>Mac:</strong>
  <%= @sensor.mac %>
</p>

<p>
  <strong>Url:</strong>
  <%= @sensor.url %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @sensor.tipo %>
</p>

<p>
  <strong>Latitudine:</strong>
  <%= @sensor.latitudine %>
</p>

<p>
  <strong>Longitudine:</strong>
  <%= @sensor.longitudine %>
</p>

<p>
  <strong>Unit misura:</strong>
  <%= @sensor.unit_misura %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @sensor.user_id %>
</p>

<p>
  <strong>Public:</strong>
  <%= @sensor.public %>
</p>

<p>
  <strong>Downtime to alarm:</strong>
  <%= @sensor.downtime_to_alarm %>
</p>
<p>
<% if @sensor.image.attached?%>

  <strong>Ultimo aggiornamento firware:</strong> <%= @sensor.image.created_at.strftime("%Y-%m-%d %H:%M")%>

<% else%>
</p>
<p>
  <strong>Ultimo aggiornamento firware:</strong>
  <%= @sensor.last_firmware_update %>
</p>
<% end%>
<p></p>
<%= link_to 'Modifica', edit_sensor_path(@sensor), class: "pure-button" %>
<%= link_to 'Indietro', sensors_path, class: "pure-button" %>

