<%= form_with(model: misuration_subscription, local: true) do |form| %>
  <% if misuration_subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(misuration_subscription.errors.count, "error") %> prohibited this misuration_subscription from being saved:</h2>

      <ul>
        <% misuration_subscription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :sensor_id , value: 'sensore'%>
    <%= form.collection_select :sensor_id, @availablesensors, :id, :name, include_blank: true %>
  </div>


  <div class="actions">
    <%= form.submit:class => 'pure-button pure-button-primary' ,value: 'Crea iscrizione sensore'%>
  </div>
<% end %>
