<p id="notice"><%= notice %></p>

<h1>Iscrizione sensori</h1>

<table class="pure-table" >
  <thead>
    <tr>
      <th>Mac</th>
      <th>Tipo sensore</th>
      <th>url</th>
      <th>Utente proprietario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @misuration_subscriptions.each do |misuration_subscription| %>
      <tr>
        <td><%= misuration_subscription.sensor.mac %></td>
        <td><%= misuration_subscription.sensor.tipo %></td>
        <td><%= misuration_subscription.sensor.url %></td>
        <td><%= misuration_subscription.sensor.user.email %></td>
        <td><%= link_to 'Show', misuration_subscription,class: "pure-button pure-button-active" %></td>
        <td><%= link_to 'Destroy', misuration_subscription,class: "pure-button pure-button-active", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<div new>
  <p><%= link_to 'Nuova iscrizione sensore', new_misuration_subscription_path , class:"btn pure-button pure-button-primary"%></p>
</div>
<style scoped>

        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }

        td{ text-align: center; }

        .main{
          width: 500px;
          height: 500px;
        }

    </style>
