<p id="notice"><%= notice %></p>

<p>
  <strong>Sensor_id:</strong>
  <%= @misuration_subscription.sensor_id %>
  <%= @misuration_subscription.sensor.mac %>
</p>

<p>
  <strong>User:</strong>
  <%= @misuration_subscription.user_id %>
</p>

<%= link_to 'Edit', edit_misuration_subscription_path(@misuration_subscription) %> |
<%= link_to 'Back', misuration_subscriptions_path %>
