<%= form_with(model: sensors_group_subscription, local: true) do |form| %>
  <% if sensors_group_subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sensors_group_subscription.errors.count, "error") %> prohibited this sensors_group_subscription from being saved:</h2>

      <ul>
        <% sensors_group_subscription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sensors_group_id %>
    <%= form.collection_select :sensors_group_id, @sensor_groups, :id, :nome, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :sensor_id %>
    <%= form.collection_select :sensor_id, @sensors, :id, :name, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
