<p id="notice"><%= notice %></p>

<h1>Sensors Group Subscriptions</h1>

<table>
  <thead>
    <tr>
      <th>Id sensor group</th>
      <th>Id sensor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sensors_group_subscriptions.each do |sensors_group_subscription| %>
      <tr>
        <td><%= sensors_group_subscription.id_sensor_group %></td>
        <td><%= sensors_group_subscription.id_sensor %></td>
        <td><%= link_to 'Show', sensors_group_subscription %></td>
        <td><%= link_to 'Edit', edit_sensors_group_subscription_path(sensors_group_subscription) %></td>
        <td><%= link_to 'Destroy', sensors_group_subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sensors Group Subscription', new_sensors_group_subscription_path %>
