<p id="notice"><%= notice %></p>

<p>
  <strong>Gruppo:</strong>
  <%= @sensors_group_subscription.sensors_group.nome %>
</p>

<p>
  <strong>MAC sensore:</strong>
  <%= @sensors_group_subscription.sensor.mac %>
</p>

<%= link_to 'Edit', edit_sensors_group_subscription_path(@sensors_group_subscription) %> |
<%= link_to 'Back', sensors_group_subscriptions_path %>
