<p id="notice"><%= notice %></p>

<p>
  <strong>Id sensor group:</strong>
  <%= @sensors_group_subscription.sensor_group_id %>
</p>

<p>
  <strong>Id sensor:</strong>
  <%= @sensors_group_subscription.sensor_id %>
</p>

<%= link_to 'Edit', edit_sensors_group_subscription_path(@sensors_group_subscription) %> |
<%= link_to 'Back', sensors_group_subscriptions_path %>
