<!DOCTYPE html>
<html>
  <head>
    <title>RoRIoTGateway</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" id="menuLink1" class="pure-menu-link">Sensori</a>
                <ul class="pure-menu-children">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Email</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Twitter</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tumblr Blog</a></li>
                    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                </ul>
            </li>
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" id="menuLink1" class="pure-menu-link">Misurazioni</a>
                <ul class="pure-menu-children">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Email</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Twitter</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tumblr Blog</a></li>
                    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                </ul>
            </li>
        </ul>
        <ul class="pure-menu-list" style="float: right">
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover" style="float: right">
                <a href="#" id="menuLink1" class="pure-menu-link"><%= current_user.id %></a>
                <ul class="pure-menu-children">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Email</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Twitter</a></li>
                    <li class="pure-menu-item"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                </ul>
            </li>
        </ul>
      </div>
    <%end%>
       <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>
  </body>
</html>
